userprofile/Roaming/Sublime Text 2/Packages/User/Package Control.last-run

My Documents/Default.rdp
My Documents/desktop.ini
*.pdb
My Documents/OneNote Notebooks/
My Documents/Visual Studio 2010/
My Documents/Visual Studio 2008/
My Documents/Visual Studio*
!My Documents/Visual Studio*/Code Snippets/*
!My Documents/Visual Studio*/My Exported Templates/*
userprofile/Roaming/JetBrains/
userprofile/Roaming/LINQPad/ConnectionsV2.xml
userprofile/Roaming/LINQPad/Nutshell.mdf
userprofile/Roaming/LINQPad/Nutshell_log.ldf
userprofile/Roaming/AstroGrep/AstroGrep.general.config
userprofile/Roaming/GitExtensions/GitExtensions/Recent/
userprofile/Roaming/Macromedia/
userprofile/Roaming/Microsoft/
userprofile/Roaming/Skype/
userprofile/Roaming/Sublime Text 2/Installed Packages/
userprofile/Roaming/Sublime Text 2/Pristine Packages/
userprofile/Roaming/tangible T4 Editor/Cache/
userprofile/Roaming/MortgageFlex Systems, Inc/loanQuest/
userprofile/Roaming/Sublime Text 2/Settings/Session.sublime_session
!userprofile/Roaming/Sublime Text 2/Packages/
userprofile/Roaming/Sublime Text 2/Packages/*
!userprofile/Roaming/Sublime Text 2/Packages/User/
My Documents/SQL Server Management Studio/
userprofile/Roaming/Hewlett-Packard/
*.sublime_session
*.dll
My Documents/ANNO 2070/
*.rdp
*.exe
bin/
My Documents/Unity/
*.png
*.gif
obj/
My Documents/Microsoft Roslyn CTP - June 2012/
*.JPG
*.avi
My Documents/Remote Assistance Logs/
*.jpg
*.jpeg
*.zip
*.mp4
*.tif
*.pdf
*.pfx
*.docx
My Documents/*.dat

My Documents/IISExpress/Logs/
My Documents/IISExpress/TraceLogFiles/
My Documents/Fiddler2/
userprofile/Roaming/Adobe/
userprofile/Roaming/Sublime Text 2/Backup/
userprofile/Roaming/vlc/
userprofile/Roaming/npm-cache/
userprofile/Roaming/npm/node_modules
userprofile/Roaming/ChocolateyGUI/Logs/
*.nupkg
