<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SearchSettings version="1.0">
  <property name="UseRegularExpressions" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="UseCaseSensitivity" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="UseWholeWordMatching" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="UseRecursion" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="ReturnOnlyFileNames" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="UseNegation" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="IncludeLineNumbers" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="ContextLines" type="System.Int32">
    <value>0</value>
  </property>
  <property name="SkipHidden" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="SkipSystem" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="MinimumFileSize" type="System.String">
    <value>
    </value>
  </property>
  <property name="MaximumFileSize" type="System.String">
    <value>
    </value>
  </property>
  <property name="MinimumFileSizeType" type="System.String">
    <value>byte</value>
  </property>
  <property name="MaximumFileSizeType" type="System.String">
    <value>byte</value>
  </property>
  <property name="ModifiedDateStart" type="System.String">
    <value>
    </value>
  </property>
  <property name="ModifiedDateEnd" type="System.String">
    <value>
    </value>
  </property>
  <property name="Exclusions" type="System.String">
    <value>FileExtension|.exe|None|False&lt;FileExtension|.dll|None|False&lt;FileExtension|.pdb|None|False&lt;FileExtension|.msi|None|False&lt;FileExtension|.sys|None|False&lt;FileExtension|.ppt|None|False&lt;FileExtension|.gif|None|False&lt;FileExtension|.jpg|None|False&lt;FileExtension|.jpeg|None|False&lt;FileExtension|.png|None|False&lt;FileExtension|.bmp|None|False</value>
  </property>
</SearchSettings>