<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PublicAssemblies;PrivateAssemblies;PrivateAssemblies\TeamTest;PrivateAssemblies\DataCollectors;PrivateAssemblies\DataCollectors\x86"/>
    </assemblyBinding>
  </runtime>
   <system.net>
        <defaultProxy enabled="false" />
        <settings>
            <ipv6 enabled="true"/>
            <servicePointManager expect100Continue="false"/>
        </settings>
    </system.net>
  <appSettings>
    <!-- Begin: Test execution settings -->

    <!-- The minimum number of threads allocated to perform actions in parallel on local data collectors. Default is 1. -->
    <add key="MinimumSizeDataCollectorEventThreadPool" value="1"/>

    <!-- The maximum number of threads allocated to perform actions in parallel on local data collectors. Default is 5. -->
    <add key="MaximumSizeDataCollectorEventThreadPool" value="5"/>

    <!-- How long test runner will wait for all local data collectors to initialize.  Default is 60. -->
    <add key="DataCollectorInitializationTimeoutInSeconds" value="10"/>

    <!-- How long test runner will wait for an event raised to all local data collectors to complete.  Default is 300. -->
    <add key="DataCollectorEventTimeoutInSeconds" value="10"/>

    <!-- How long test runner will wait for all local data collectors to dispose.  Default is 60. -->
    <add key="DataCollectorCleanupTimeoutInSeconds" value="10"/>

    <!-- How long test runner will wait for test run operations, such as starting or stopping a test run, to complete.  Default is 60. -->
    <add key="RunOperationTimeoutInSeconds" value="60"/>

    <!-- RemotingTimeoutSeconds: Maximum time a remoting call can last in seconds (default 10 minutes). -->
    <!-- <add key="RemotingTimeoutSeconds" value="600"/> -->

    <!-- EnableTestExecutionEventLogTracing: Errors that occur during execution of tests will be written to the event log. The default is "yes"; override with "no". -->
    <!-- <add key="EnableTestExecutionEventLogTracing" value="no"/> -->

    <!-- End: Test execution settings -->

    <add key="TestRunnerFolderName" value="ManualTestTempFolder"/>

    <!-- How long test runner will wait for response to a command in seconds-->
    <add key="DataCollectorCommandToResponseTimeout" value="10"/>
    
    <!--If set to true the Media foundation recorder process would be launched under mftrace.exe
        to capture the Media foundation logs. Copy mftrace.exe (x86) and mfdetours.dll to 
        DataCollectors folder before setting this flag to true-->
    <add key="MediaFoundationDebugEnabled" value="false"/>

    <!-- To trace the web service calls made, set the value to true. -->
    <add key="TestManagement.EnableSoapTracing" value="false" />
    <add key="TeamBuild.EnableSoapTracing" value="false" />

  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- Trace settings for Feedback Client -->
      <!-- Change the value to change the level of tracing you want.
            You must use integral values for "value".  
            0 ==> off,
            1 ==> error,
            2 ==> warn, 
            3 ==> info,
            4 ==> verbose.
            Note that each value is inclusive of the last.
        -->
      <add name="EqtTraceLevel" value="0" />
      <add name="TeamFoundationSoapProxy" value="0" />
    </switches>
    <trace autoflush="true"></trace>
  </system.diagnostics>
</configuration>
