<?xml version ="1.0"?>
<configuration>
  <runtime>
    <!-- This loadFromRemoteSources enables the controller to load assemblies from the network share. -->
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PrivateAssemblies;PublicAssemblies;DataCollectors;DataCollectors\x64;PrivateAssemblies\DataCollectors;PrivateAssemblies\DataCollectors\x64"/>
    </assemblyBinding>
  </runtime>
   <system.net>
        <defaultProxy enabled="false" />
        <settings>
            <ipv6 enabled="true"/>
            <servicePointManager expect100Continue="false"/>
        </settings>
    </system.net>
  <appSettings>
    <!-- Below are possible appSettings keys recognized by tcm.exe. To add a key: <add key="Key_Name" value="value"/>-->
    <!-- TeamFoundationServer - This will be used to connect to team foundation server.  Should be in format http://<servername>:8080/tfs/<collectionname> -->
    <!-- TeamProject - Name of team project to connect to. -->
    <!-- TestCategoryFieldName - Test case work item field name for test categories. -->

    <!-- To trace the web service calls made, set the value to true. -->
    <add key="TestManagement.EnableSoapTracing" value="false" /> 
    <add key="TeamBuild.EnableSoapTracing" value="false" /> 

  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- Trace settings for TCM.exe -->
      <!-- Change the value to change the level of tracing you want.
            You must use integral values for "value".  
            0 ==> off,
            1 ==> error,
            2 ==> warn, 
            3 ==> info,
            4 ==> verbose.
            Note that each value is inclusive of the last.
        -->
      <add name="UITestTraceLevel" value="0" />
      <add name="EqtTraceLevel" value="0" />
      <add name="TestManagement" value="0" /> 
      <add name="TeamBuild" value="0" /> 
      <add name="TeamFoundationSoapProxy" value="0" /> 
    </switches>
    <trace autoflush="true"></trace>
  </system.diagnostics>
</configuration>
